# Loại bỏ thư mục chứa model weights (nặng)
src/model/

# Loại bỏ thư mục chứa kết quả dự đoán (output)
src/output_inference/

# Loại bỏ môi trường ảo (venv) - rất nên làm
venv/

# Loại bỏ dữ liệu huấn luyện (nếu Dataset nặng)
Dataset/

# Loại bỏ các file tạm của python
__pycache__/
*.py[cod]
*$py.class